<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ server_settings.app_url }}static/bootstrap.min.css" rel="stylesheet" />
    {% include 'include_in_head.html' %}
    <link href="{{ server_settings.app_url }}static/project.css" rel="stylesheet" />
    <link href="{{ server_settings.app_url }}static/thumbnail.css" rel="stylesheet" />
</head>
<body class="body">
    {% include 'core.html' %}
</body>
</html>
