<div class="row text-center">
    <div class="col-xs-5">
        <img src="{{image_path}}{{ candidates[0].image }}" width="107" height="142" class="img-circle" alt="{{ candidates[0].abbreviation }}">
        <h3>{{ candidates[0].name }}</h3>
        <h2>{{ (100*candidates[0].probability)|round|int  }}%</h2>
    </div>
    <div class="col-xs-2">
        <br>
        <br>
        <img src="{{image_path}}flag.png" width="142" height="142" class="imgs hidden-xs">
    </div>
    <div class="col-xs-5">
        <img src="{{image_path}}{{ candidates[1].image }}" width="107" height="142" class="img-circle" alt="{{ candidates[1].abbreviation }}">
        <h3>{{ candidates[1].name }}</h3>
        <h2>{{ (100*candidates[1].probability)|round|int }}%</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-1"></div>
    {% for candidate in candidates[2:12] %}
        <div class="col-xs-1">
            <img src="{{image_path}}{{ candidate.image }}" width="53" height="71" class="img-circle" alt="{{ candidate.abbreviation }}">
            <h5>{{ candidate.abbreviation }}</h5>
            <h5>{{ (100*candidate.probability)|round|int }}%</h5>
        </div>
    {% endfor %}
</div>
