<div class="row text-center hidden-xs">
    <div class="col-xs-5">
        <img data-src="{{image_path}}{{ candidates[0].image }}" width="107" height="142" class="img-circle hidden-xs" alt="{{ candidates[0].abbreviation }}">
        <h3>{{ candidates[0].name }}</h3>
        <h2>{{ (100*candidates[0].probability)|round|int  }}%</h2>
    </div>
    <div class="col-xs-2">
        <br>
        <br>
        <img data-src="{{image_path}}flag.png" width="142" height="142" class="imgs hidden-xs">
    </div>
    <div class="col-xs-5">
        <img data-src="{{image_path}}{{ candidates[1].image }}" width="107" height="142" class="img-circle hidden-xs" alt="{{ candidates[1].abbreviation }}">
        <h3>{{ candidates[1].name }}</h3>
        <h2>{{ (100*candidates[1].probability)|round|int }}%</h2>
    </div>
</div>
<div class="row text-center hidden-xs">
    <div class="col-sm-1"></div>
    {% for candidate in candidates[2:12] %}
        <div class="col-sm-1">
            <img data-src="{{image_path}}{{ candidate.image }}" width="53" height="71" class="img-circle hidden-xs" alt="{{ candidate.abbreviation }}">
            <h5>{{ candidate.abbreviation }}</h5>
            <h5>{{ (100*candidate.probability)|round|int }}%</h5>
        </div>
    {% endfor %}
</div>

<table class="table table-hover visible-xs">
    <tbody>
        {% for candidate in candidates[0:12] %}
            <tr{% if candidate.probability > 0.1 %} class="success"{% endif %}>
                <td>{{ candidate.abbreviation }}
                <td>{{ (100*candidate.probability)|round|int }} %
        {% endfor %}
    </tbody>
</table>
